/*Some css fixes to use night theme with IPython slides*/
/*background-color: #f6f6f6;*/
/*background-image:url("Dorsey and Gable Trim Dec 2003 001.jpg");*/
body {
/*background-color: #B0E0E7;*/
background-image:url("college_logo_big.png");
background-repeat: no-repeat;

}
/*.reveal p {
color: white;
}
.reveal ul, ol {
color: white;
}
div.output_area pre {
color: white;
}
div.output_stderr {
background: #F00;
}
.reveal table th, .reveal table td {
color: white;
}*/
