/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

/*body{
position: static;
}
#menubar, #header, #maintoolbar {
display:none !important;
}*/


CSS stylesheet

<head>
<style>
important {font:italic bold 16px arial;}
.missing {color:Red}
fragment {color:LightBlue;}
subslide {color:DarkBlue;}

.rgt {float:right;}

.lt {float:left;}

.cnt {text-align:center; vertical-align:text-top;}

.box { border:1px solid blue; float:left; margin-right:3px;}

.max {max-width:300px; max-height:300px;}

.fix {max-height:200px; max-width:200px;}

.nar { width: 13em; word-wrap: break-word; }

</style>
</head>

    /* class = "max box" for img tags
    
    <audio controls data-autoplay>
     <source src="https://github.com/damontallen/Construction-Lectures/raw/master/Intro/FILE%20NAME.wav"
             type='audio/wav'>
     <p>Your user agent does not support the HTML5 Audio element.</p>
    </audio><a></a>
    
    */
